<html>
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    </head>
    <body>
        <div style="margin: 10px auto;text-align: center;">
            <a href="/Register" class="btn btn-primary" style="margin: 10px;">Registeration</a>
            <br>
            <a href="/Login" class="btn btn-primary" style="margin: 10px;">Login</a>
        </div>
    </body>
</html>